<div class="md:hidden">
  <div class="relative flex items-center py-4 mx-auto">
      <a href="/" class="flex items-center justify-center text-2xl md:hidden">
        <img src="/assets/img/logo-md.png" class="h-24 mx-4" />
        <span>RHF</span>
      </a>
      <div class="flex-grow"></div>

      <div class="collapsible-menu">
        <input type="checkbox" id="menu">
        <label for="menu" class="p-4 mx-4"></label>
        <div class="mr-5 text-2xl text-white bg-red-500 rounded-lg shadow-lg menu-content">
          <ul>
            <li><a href="https://www.facebook.com/ravenheartforge/" class="mx-2">shop</a></li>
            <li><a href="mailto:emmet@ravenheartforge.com" class="mx-2">contact</a></li>
            <li class="flex">
              <a href="https://www.facebook.com/ravenheartforge/" class="p-2">
                <img class="h-8" src="/assets/img/facebook-2-48.png"  />
              </a>
              <a href="https://www.instagram.com/ravenheartforge/" class="p-2">
                <img class="h-8" src="/assets/img/instagram-48.png" />
              </a>
            </li>
          </ul>
        </div>
      </div>

  </div>
</div>

<div class="hidden border-b-2 border-red-500 md:block">
  <div class="relative flex items-center py-4 mx-auto md:px-12 lg:px-32" style="height: 77px">
      <a href="/" class="text-2xl">RAVEN HEART FORGE</a>
      <div class="flex-grow"></div>
      <a href="https://www.facebook.com/ravenheartforge/" class="mx-2">shop</a>
      <!-- <a href="#" class="mx-2">about</a> -->
      <a href="mailto:emmet@ravenheartforge.com" class="mx-2">contact</a>
      <a href="https://www.facebook.com/ravenheartforge/" class="p-2">
        <img class="h-8" src="/assets/img/facebook-3-48.png"  />
      </a>
      <a href="https://www.instagram.com/ravenheartforge/" class="p-2">
        <img class="h-8" src="/assets/img/instagram-48-black.png" />
      </a>

      <img class="absolute top-0 hidden md:block navbar-logo" src="/assets/img/navbar-logo.png" width="150" />
  </div>
</div>
