@tailwind base;

@tailwind components;

@tailwind utilities;

.font-mono {
  font-family: 'Ubuntu Mono', monospace;
}
.font-condensed {
  font-family: 'Roboto Condensed', monospace;
}

.-right-7 {
  right: -7rem;
}

.hover\:nudge-u-sm:hover {
  transform: translateY(-2px);
}
.hover\:shadow-picked-up:hover {
  box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3);
}

.hover\:nudge-u-sm:hover {
  transform: translateY(-2px);
}
.hover\:shadow-picked-up:hover {
  box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3);
}

.transition {
  transition: all .15s;
}

.border-ember { border-color: #E04E39; }
.bg-ember { background-color: #E04E39; }
.bg-gray-900 { background-color: #3A3D3D; }

.clip-right-side {
  -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
}

.blog-post-title-image {
  background-size: cover;
  width: 100%;
  height: 15rem;
  resize: both;
  position: absolute;
}
.blog-post-title-small-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 10rem;
  background-color: #f2f2f2;
  resize: both;
  position: absolute;
}

.max-w-xxs {
  max-width: 17rem;
}

/* GitHub Markdown */
.markdown-body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  line-height: 1.5;
  word-wrap: break-word;
}
.markdown-body::before {
  display: table;
  content: "";
}
.markdown-body::after {
  display: table;
  clear: both;
  content: "";
}
.markdown-body > *:first-child {
  margin-top: 0 !important;
}
.markdown-body > *:last-child {
  margin-bottom: 0 !important;
}
.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}
.markdown-body a {
  color: #63b3ed;
}
.markdown-body .absent {
  color: #cb2431;
}
.markdown-body .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}
.markdown-body .anchor:focus {
  outline: none;
}
.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre {
  margin-top: 0;
  margin-bottom: 24px;
}
.markdown-body hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}
.markdown-body blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}
.markdown-body blockquote > :first-child {
  margin-top: 0;
}
.markdown-body blockquote > :last-child {
  margin-bottom: 0;
}
.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link,
.markdown-body h3 .octicon-link,
.markdown-body h4 .octicon-link,
.markdown-body h5 .octicon-link,
.markdown-body h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}
.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
  text-decoration: none;
}
.markdown-body h1:hover .anchor .octicon-link,
.markdown-body h2:hover .anchor .octicon-link,
.markdown-body h3:hover .anchor .octicon-link,
.markdown-body h4:hover .anchor .octicon-link,
.markdown-body h5:hover .anchor .octicon-link,
.markdown-body h6:hover .anchor .octicon-link {
  visibility: visible;
}
.markdown-body h1 tt,
.markdown-body h1 code,
.markdown-body h2 tt,
.markdown-body h2 code,
.markdown-body h3 tt,
.markdown-body h3 code,
.markdown-body h4 tt,
.markdown-body h4 code,
.markdown-body h5 tt,
.markdown-body h5 code,
.markdown-body h6 tt,
.markdown-body h6 code {
  font-size: inherit;
}
.markdown-body h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
}
.markdown-body h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
}
.markdown-body h3 {
  font-size: 1.25em;
}
.markdown-body h4 {
  font-size: 1em;
}
.markdown-body h5 {
  font-size: 0.875em;
}
.markdown-body h6 {
  font-size: 0.85em;
  color: #6a737d;
}
.markdown-body ul,
.markdown-body ol {
  padding-left: 2em;
  list-style-type: circle;
}
.markdown-body ul.no-list,
.markdown-body ol.no-list {
  padding: 0;
  list-style-type: none;
}
.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
.markdown-body li {
  word-wrap: break-all;
}
.markdown-body li > p {
  margin-top: 16px;
}
.markdown-body li + li {
  margin-top: 0.25em;
}
.markdown-body dl {
  padding: 0;
}
.markdown-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}
.markdown-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}
.markdown-body table {
  display: block;
  width: 100%;
  overflow: auto;
}
.markdown-body table th {
  font-weight: 600;
}
.markdown-body table th,
.markdown-body table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}
.markdown-body table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}
.markdown-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
.markdown-body table img {
  background-color: transparent;
}
.markdown-body img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}
.markdown-body img[align="right"] {
  padding-left: 20px;
}
.markdown-body img[align="left"] {
  padding-right: 20px;
}
.markdown-body .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}
.markdown-body span.frame {
  display: block;
  overflow: hidden;
}
.markdown-body span.frame > span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #dfe2e5;
}
.markdown-body span.frame span img {
  display: block;
  float: left;
}
.markdown-body span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #24292e;
}
.markdown-body span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}
.markdown-body span.align-center > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}
.markdown-body span.align-center span img {
  margin: 0 auto;
  text-align: center;
}
.markdown-body span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}
.markdown-body span.align-right > span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}
.markdown-body span.align-right span img {
  margin: 0;
  text-align: right;
}
.markdown-body span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}
.markdown-body span.float-left span {
  margin: 13px 0 0;
}
.markdown-body span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}
.markdown-body span.float-right > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}
.markdown-body code,
.markdown-body tt {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}
.markdown-body code br,
.markdown-body tt br {
  display: none;
}
.markdown-body del code {
  text-decoration: inherit;
}
.markdown-body pre {
  word-wrap: normal;
}
.markdown-body pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
.markdown-body .highlight {
  margin-bottom: 16px;
}
.markdown-body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}
.markdown-body .highlight pre,
.markdown-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}
.markdown-body pre code,
.markdown-body pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
.markdown-body .csv-data td,
.markdown-body .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}
.markdown-body .csv-data .blob-num {
  padding: 10px 8px 9px;
  text-align: right;
  background: #fff;
  border: 0;
}
.markdown-body .csv-data tr {
  border-top: 0;
}
.markdown-body .csv-data th {
  font-weight: 600;
  background: #f6f8fa;
  border-top: 0;
}

/* http://pygments.org/_static/pygments.css */
pre .hll { background-color: #ffffcc }
pre  { background: #f0f0f0; }
pre .c { color: #60a0b0; font-style: italic } /* Comment */
pre .err { border: 1px solid #FF0000 } /* Error */
pre .k { color: #007020; font-weight: bold } /* Keyword */
pre .o { color: #666666 } /* Operator */
pre .ch { color: #60a0b0; font-style: italic } /* Comment.Hashbang */
pre .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
pre .cp { color: #007020 } /* Comment.Preproc */
pre .cpf { color: #60a0b0; font-style: italic } /* Comment.PreprocFile */
pre .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
pre .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
pre .gd { color: #A00000 } /* Generic.Deleted */
pre .ge { font-style: italic } /* Generic.Emph */
pre .gr { color: #FF0000 } /* Generic.Error */
pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
pre .gi { color: #00A000 } /* Generic.Inserted */
pre .go { color: #888888 } /* Generic.Output */
pre .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
pre .gs { font-weight: bold } /* Generic.Strong */
pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
pre .gt { color: #0044DD } /* Generic.Traceback */
pre .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
pre .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
pre .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
pre .kp { color: #007020 } /* Keyword.Pseudo */
pre .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
pre .kt { color: #902000 } /* Keyword.Type */
pre .m { color: #40a070 } /* Literal.Number */
pre .s { color: #4070a0 } /* Literal.String */
pre .na { color: #4070a0 } /* Name.Attribute */
pre .nb { color: #007020 } /* Name.Builtin */
pre .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
pre .no { color: #60add5 } /* Name.Constant */
pre .nd { color: #555555; font-weight: bold } /* Name.Decorator */
pre .ni { color: #d55537; font-weight: bold } /* Name.Entity */
pre .ne { color: #007020 } /* Name.Exception */
pre .nf { color: #06287e } /* Name.Function */
pre .nl { color: #002070; font-weight: bold } /* Name.Label */
pre .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
pre .nt { color: #062873; font-weight: bold } /* Name.Tag */
pre .nv { color: #bb60d5 } /* Name.Variable */
pre .ow { color: #007020; font-weight: bold } /* Operator.Word */
pre .w { color: #bbbbbb } /* Text.Whitespace */
pre .mb { color: #40a070 } /* Literal.Number.Bin */
pre .mf { color: #40a070 } /* Literal.Number.Float */
pre .mh { color: #40a070 } /* Literal.Number.Hex */
pre .mi { color: #40a070 } /* Literal.Number.Integer */
pre .mo { color: #40a070 } /* Literal.Number.Oct */
pre .sa { color: #4070a0 } /* Literal.String.Affix */
pre .sb { color: #4070a0 } /* Literal.String.Backtick */
pre .sc { color: #4070a0 } /* Literal.String.Char */
pre .dl { color: #4070a0 } /* Literal.String.Delimiter */
pre .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
pre .s2 { color: #4070a0 } /* Literal.String.Double */
pre .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
pre .sh { color: #4070a0 } /* Literal.String.Heredoc */
pre .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
pre .sx { color: #c65d09 } /* Literal.String.Other */
pre .sr { color: #235388 } /* Literal.String.Regex */
pre .s1 { color: #4070a0 } /* Literal.String.Single */
pre .ss { color: #517918 } /* Literal.String.Symbol */
pre .bp { color: #007020 } /* Name.Builtin.Pseudo */
pre .fm { color: #06287e } /* Name.Function.Magic */
pre .vc { color: #bb60d5 } /* Name.Variable.Class */
pre .vg { color: #bb60d5 } /* Name.Variable.Global */
pre .vi { color: #bb60d5 } /* Name.Variable.Instance */
pre .vm { color: #bb60d5 } /* Name.Variable.Magic */
pre .il { color: #40a070 } /* Literal.Number.Integer.Long */.syntax pre .hll { background-color: #ffffcc }
.syntax pre  { background: #f0f3f3; }
.syntax pre .c { color: #0099FF; font-style: italic } /* Comment */
.syntax pre .err { color: #AA0000; background-color: #FFAAAA } /* Error */
.syntax pre .k { color: #006699; font-weight: bold } /* Keyword */
.syntax pre .o { color: #555555 } /* Operator */
.syntax pre .ch { color: #0099FF; font-style: italic } /* Comment.Hashbang */
.syntax pre .cm { color: #0099FF; font-style: italic } /* Comment.Multiline */
.syntax pre .cp { color: #009999 } /* Comment.Preproc */
.syntax pre .cpf { color: #0099FF; font-style: italic } /* Comment.PreprocFile */
.syntax pre .c1 { color: #0099FF; font-style: italic } /* Comment.Single */
.syntax pre .cs { color: #0099FF; font-weight: bold; font-style: italic } /* Comment.Special */
.syntax pre .gd { background-color: #FFCCCC; border: 1px solid #CC0000 } /* Generic.Deleted */
.syntax pre .ge { font-style: italic } /* Generic.Emph */
.syntax pre .gr { color: #FF0000 } /* Generic.Error */
.syntax pre .gh { color: #003300; font-weight: bold } /* Generic.Heading */
.syntax pre .gi { background-color: #CCFFCC; border: 1px solid #00CC00 } /* Generic.Inserted */
.syntax pre .go { color: #AAAAAA } /* Generic.Output */
.syntax pre .gp { color: #000099; font-weight: bold } /* Generic.Prompt */
.syntax pre .gs { font-weight: bold } /* Generic.Strong */
.syntax pre .gu { color: #003300; font-weight: bold } /* Generic.Subheading */
.syntax pre .gt { color: #99CC66 } /* Generic.Traceback */
.syntax pre .kc { color: #006699; font-weight: bold } /* Keyword.Constant */
.syntax pre .kd { color: #006699; font-weight: bold } /* Keyword.Declaration */
.syntax pre .kn { color: #006699; font-weight: bold } /* Keyword.Namespace */
.syntax pre .kp { color: #006699 } /* Keyword.Pseudo */
.syntax pre .kr { color: #006699; font-weight: bold } /* Keyword.Reserved */
.syntax pre .kt { color: #007788; font-weight: bold } /* Keyword.Type */
.syntax pre .m { color: #FF6600 } /* Literal.Number */
.syntax pre .s { color: #CC3300 } /* Literal.String */
.syntax pre .na { color: #330099 } /* Name.Attribute */
.syntax pre .nb { color: #336666 } /* Name.Builtin */
.syntax pre .nc { color: #00AA88; font-weight: bold } /* Name.Class */
.syntax pre .no { color: #336600 } /* Name.Constant */
.syntax pre .nd { color: #9999FF } /* Name.Decorator */
.syntax pre .ni { color: #999999; font-weight: bold } /* Name.Entity */
.syntax pre .ne { color: #CC0000; font-weight: bold } /* Name.Exception */
.syntax pre .nf { color: #CC00FF } /* Name.Function */
.syntax pre .nl { color: #9999FF } /* Name.Label */
.syntax pre .nn { color: #00CCFF; font-weight: bold } /* Name.Namespace */
.syntax pre .nt { color: #330099; font-weight: bold } /* Name.Tag */
.syntax pre .nv { color: #003333 } /* Name.Variable */
.syntax pre .ow { color: #000000; font-weight: bold } /* Operator.Word */
.syntax pre .w { color: #bbbbbb } /* Text.Whitespace */
.syntax pre .mb { color: #FF6600 } /* Literal.Number.Bin */
.syntax pre .mf { color: #FF6600 } /* Literal.Number.Float */
.syntax pre .mh { color: #FF6600 } /* Literal.Number.Hex */
.syntax pre .mi { color: #FF6600 } /* Literal.Number.Integer */
.syntax pre .mo { color: #FF6600 } /* Literal.Number.Oct */
.syntax pre .sa { color: #CC3300 } /* Literal.String.Affix */
.syntax pre .sb { color: #CC3300 } /* Literal.String.Backtick */
.syntax pre .sc { color: #CC3300 } /* Literal.String.Char */
.syntax pre .dl { color: #CC3300 } /* Literal.String.Delimiter */
.syntax pre .sd { color: #CC3300; font-style: italic } /* Literal.String.Doc */
.syntax pre .s2 { color: #CC3300 } /* Literal.String.Double */
.syntax pre .se { color: #CC3300; font-weight: bold } /* Literal.String.Escape */
.syntax pre .sh { color: #CC3300 } /* Literal.String.Heredoc */
.syntax pre .si { color: #AA0000 } /* Literal.String.Interpol */
.syntax pre .sx { color: #CC3300 } /* Literal.String.Other */
.syntax pre .sr { color: #33AAAA } /* Literal.String.Regex */
.syntax pre .s1 { color: #CC3300 } /* Literal.String.Single */
.syntax pre .ss { color: #FFCC33 } /* Literal.String.Symbol */
.syntax pre .bp { color: #336666 } /* Name.Builtin.Pseudo */
.syntax pre .fm { color: #CC00FF } /* Name.Function.Magic */
.syntax pre .vc { color: #003333 } /* Name.Variable.Class */
.syntax pre .vg { color: #003333 } /* Name.Variable.Global */
.syntax pre .vi { color: #003333 } /* Name.Variable.Instance */
.syntax pre .vm { color: #003333 } /* Name.Variable.Magic */
.syntax pre .il { color: #FF6600 } /* Literal.Number.Integer.Long */
